.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 10px 15px;
  gap: 10px;
}

.greeting {
  font-size: 24px;
  color: white;
}

.greeting.hidden {
  display: none;
}

.conversation {
  width: 95%;
  height: 92%;
  padding-bottom: 10px;
  overflow-y: scroll;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.message-header {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
}

.message-content {
  display: flex;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  line-height: 0.6cm;
}

.avatar {
  width: 24px;
  height: 24px;
  background: rgb(40, 40, 47);
  border-radius: 50%;
}

.interaction {
  display: flex;
  width: 100%;
  height: 8%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.user-input {
  background: rgb(27, 27, 34);
  width: 85%;
  height: 100%;
  color: white;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 10px;
}

.send-btn {
  transition: 0.2s;
  cursor: pointer;
  width: 15%;
  height: 100%;
  border-radius: 10px;
  margin-left: 5px;
  background: rgb(27, 27, 34);
  font-size: 16px;
  color: white;
}

.send-btn:hover {
  background: rgb(37, 37, 44);
}
